.Documents-btn {
    height: 45px;
    padding: 0 15px;
    gap: 10px;
  }
  
  .folderContainer {
    width: 40px;
  }
  
  .fileBack {
    width: 80%;
  }
  
  .filePage {
    width: 50%;
  }
  
  .fileFront {
    width: 85%;
  }
  .Documents-btn {
    height: 40px;   // optional (header-optimized)
  }
  